<nav class="navbar-default navbar-static-side" role="navigation" id="nav-side-menu">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu" style="display: none">
            <li>
                <a href="{% url 'doc:list' %}"><i class="fa fa-list"></i> <span class="nav-label">Список</span></a>
            </li>
            <li>
                <a href="{% url 'doc:navigator_list' %}"><i class="fa fa-list"></i> <span class="nav-label">Документы SPNavigator</span></a>
            </li>
        </ul>

    </div>
</nav>
