{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <a href="{% url 'doc:list' %}" class="btn btn-primary">Список документов</a>
        <a href="{% url 'doc:navigator_list' %}" class="btn btn-primary">Список документов SPNavigator</a>
    </div>
{% endblock %}
