body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Текстовый-фрейм {
	border-style:solid;
}
p._•body {
	color:#000000;
	font-family:Academy, serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:14px;
	text-transform:none;
	widows:1;
}
li._•body-list-magic-c {
	color:#000000;
	font-family:Academy, serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:0;
	margin-left:14px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._•breakout-2 {
	color:#000000;
	font-family:Magic, sans-serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.059;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._•headln {
	color:#000000;
	font-family:Academy, serif;
	font-size:54px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.87;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._•inset {
	color:#000000;
	font-family:Magic, sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.077;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._•subheader {
	-epub-hyphens:none;
	color:#000000;
	font-family:Magic, sans-serif;
	font-size:20px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._•body-nointend {
	color:#000000;
	font-family:TextBook, sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._•headln {
	color:#000000;
	font-family:Magic, sans-serif;
	font-size:21px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:0.952;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._•author {
	color:#454444;
	font-family:Magic, sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.158;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.текст-вреза {
	color:#000000;
	font-family:TextBook, sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span._-brkout-2-bold {
	font-style:normal;
	font-weight:bold;
}
span._-select-body {
	color:#970032;
	font-family:Magic, sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
}
p.ParaOverride-1 {
	margin-top:9px;
}
p.ParaOverride-2 {
	text-indent:0px;
}
p.ParaOverride-3 {
	text-indent:14px;
}
p.ParaOverride-4 {
	-epub-hyphens:none;
	margin-top:6px;
}
p.ParaOverride-5 {
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-6 {
	margin-bottom:3px;
	margin-top:3px;
	text-align:left;
}
p.ParaOverride-7 {
	text-indent:9px;
}
p.ParaOverride-8 {
	text-align:center;
}
span.CharOverride-1 {
	font-size:55px;
}
span.CharOverride-2 {
	font-family:Magic, sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-4 {
	color:#970032;
}
span.CharOverride-5 {
	color:#a17d9f;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-6 {
	color:#b9bbc4;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-7 {
	color:#ffffff;
}
#_idContainer001, #_idContainer006, #_idContainer007 {
	display:inline-block;
	height:91px;
	width:74px;
}
#_idContainer010 {
	display:inline-block;
	height:658px;
	width:499px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	height:22px;
	width:79px;
}
img._idGenObjectAttribute-3 {
	height:14px;
	width:19px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#e6d9e9;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#970032;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
