@font-face {
  font-family: "Symbol";
  src: url("../fonts/SymbolMT.eot");
  src: url("../fonts/SymbolMT.eot?#iefix") format("embedded-opentype"), url("../fonts/SymbolMT.woff2") format("woff2"), url("../fonts/SymbolMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Magic";
  src: url("../fonts/Magic.eot");
  src: url("../fonts/Magic.eot?#iefix") format("embedded-opentype"), url("../fonts/Magic.woff2") format("woff2"), url("../fonts/Magic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Academy";
  src: url("../fonts/Academy.eot");
  src: url("../fonts/Academy.eot?#iefix") format("embedded-opentype"), url("../fonts/Academy.woff2") format("woff2"), url("../fonts/Academy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TextBook";
  src: url("../fonts/TextBook-Regular.eot");
  src: url("../fonts/TextBook-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TextBook-Regular.woff2") format("woff2"), url("../fonts/TextBook-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TextBook";
  src: url("../fonts/TextBook-Bold.eot");
  src: url("../fonts/TextBook-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TextBook-Bold.woff2") format("woff2"), url("../fonts/TextBook-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Magic";
  src: url("../fonts/Magic-Bold.eot");
  src: url("../fonts/Magic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Magic-Bold.woff2") format("woff2"), url("../fonts/Magic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Academy";
  src: url("../fonts/Academy-Italic.eot");
  src: url("../fonts/Academy-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Academy-Italic.woff2") format("woff2"), url("../fonts/Academy-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
#markdown-editormd .editormd-preview .markdown-body {
  margin: 0;
  padding: 8px 0px;
}
#markdown-editormd .editormd-preview .markdown-body img {
  width: 100%;
  max-width: 400px;
}
#markdown-editormd .editormd-preview .markdown-body img.original-size {
  width: auto;
}
#markdown-editormd .editormd-preview .markdown-body h1 {
  font-family: Academy;
  font-size: 42pt;
  font-weight: normal;
  padding: 0 10pt;
  line-height: 36pt;
  text-align: center;
  border: none;
}
#markdown-editormd .editormd-preview .markdown-body h2, #markdown-editormd .editormd-preview .markdown-body .subtitle > p {
  font-family: Magic;
  font-size: 26pt;
  text-align: center;
  font-weight: normal;
  border: none;
}
#markdown-editormd .editormd-preview .markdown-body p, #markdown-editormd .editormd-preview .markdown-body ol li, #markdown-editormd .editormd-preview .markdown-body ul li {
  font-family: Academy;
  font-size: 15pt;
}
#markdown-editormd .editormd-preview .markdown-body p strong, #markdown-editormd .editormd-preview .markdown-body ol li strong, #markdown-editormd .editormd-preview .markdown-body ul li strong {
  font-family: Magic;
  color: #a1211e;
  font-size: 16pt;
  font-weight: bold;
  line-height: 16pt;
}
#markdown-editormd .editormd-preview .markdown-body p sup a.footnote-ref, #markdown-editormd .editormd-preview .markdown-body ol li sup a.footnote-ref, #markdown-editormd .editormd-preview .markdown-body ul li sup a.footnote-ref {
  color: #7a7a7a;
  font-size: 70%;
}
#markdown-editormd .editormd-preview .markdown-body .author p, #markdown-editormd .editormd-preview .markdown-body .author-2 p, #markdown-editormd .editormd-preview .markdown-body .author-3 p {
  font-family: Magic;
  font-size: 14pt;
  font-weight: normal;
}
#markdown-editormd .editormd-preview .markdown-body .author p strong, #markdown-editormd .editormd-preview .markdown-body .author-2 p strong, #markdown-editormd .editormd-preview .markdown-body .author-3 p strong {
  color: #a1211e;
}
#markdown-editormd .editormd-preview .markdown-body .author p img {
  width: 100%;
  max-width: 200px;
}
#markdown-editormd .editormd-preview .markdown-body .author-2 p img {
  width: 49%;
  max-width: 181px;
}
#markdown-editormd .editormd-preview .markdown-body .author-3 p img {
  width: 33%;
  max-width: 181px;
}
#markdown-editormd .editormd-preview .markdown-body .lead {
  margin-bottom: 50px;
}
#markdown-editormd .editormd-preview .markdown-body .lead p {
  font-family: Magic;
  font-size: 16pt;
  font-weight: bold;
}
#markdown-editormd .editormd-preview .markdown-body .lead p strong {
  color: #a1211e;
}
#markdown-editormd .editormd-preview .markdown-body .bawl p {
  font-family: Magic;
  font-size: 16pt;
  font-weight: bold;
  color: #5d8fc1;
}
#markdown-editormd .editormd-preview .markdown-body .bawl p strong {
  color: #a1211e;
}
#markdown-editormd .editormd-preview .markdown-body .bawl p:before {
  content: "[ ";
  font-size: 16pt;
  color: #a1211e;
  font-weight: bold;
}
#markdown-editormd .editormd-preview .markdown-body .bawl p:after {
  content: " ]";
  font-size: 16pt;
  color: #a1211e;
  font-weight: bold;
}
#markdown-editormd .editormd-preview .markdown-body table tbody tr td, #markdown-editormd .editormd-preview .markdown-body table tbody tr th, #markdown-editormd .editormd-preview .markdown-body table thead tr td, #markdown-editormd .editormd-preview .markdown-body table thead tr th {
  padding: 4px 6px;
}
#markdown-editormd .editormd-preview .markdown-body table tbody tr td, #markdown-editormd .editormd-preview .markdown-body table tbody tr th, #markdown-editormd .editormd-preview .markdown-body table thead tr td, #markdown-editormd .editormd-preview .markdown-body table thead tr th {
  font-family: TextBook;
  text-align: left;
  font-size: 14pt;
  font-weight: normal;
  line-height: 16pt;
  margin-top: 0;
}
#markdown-editormd .editormd-preview .markdown-body table thead tr td, #markdown-editormd .editormd-preview .markdown-body table thead tr th {
  text-align: center;
  background: #82a0be;
  color: #fff;
  font-weight: bold;
}
#markdown-editormd .editormd-preview .markdown-body table tbody tr:nth-child(odd) td, #markdown-editormd .editormd-preview .markdown-body table tbody tr:nth-child(odd) th {
  background: #d6e7f6;
  color: #4a4a4a;
}
#markdown-editormd .editormd-preview .markdown-body table tbody tr:nth-child(even) td, #markdown-editormd .editormd-preview .markdown-body table tbody tr:nth-child(even) th {
  background: #cbe0f3;
  color: #4a4a4a;
}
#markdown-editormd .editormd-preview .markdown-body blockquote, #markdown-editormd .editormd-preview .markdown-body .blockquote, #markdown-editormd .editormd-preview .markdown-body table {
  text-align: left;
  background: #cbe0f3;
  padding: 6px;
}
#markdown-editormd .editormd-preview .markdown-body blockquote h1, #markdown-editormd .editormd-preview .markdown-body .blockquote h1, #markdown-editormd .editormd-preview .markdown-body table h1 {
  font-family: Academy;
  font-size: 32pt;
  font-weight: normal;
  padding: 0 10pt;
  line-height: 28pt;
  text-align: center;
  border: none;
  letter-spacing: -0.5pt;
}
#markdown-editormd .editormd-preview .markdown-body blockquote h2, #markdown-editormd .editormd-preview .markdown-body .blockquote h2, #markdown-editormd .editormd-preview .markdown-body table h2 {
  font-family: Magic;
  font-size: 28pt;
  text-align: left;
  letter-spacing: -0.5pt;
  font-weight: bold;
}
#markdown-editormd .editormd-preview .markdown-body blockquote p, #markdown-editormd .editormd-preview .markdown-body blockquote ul li, #markdown-editormd .editormd-preview .markdown-body blockquote ol li, #markdown-editormd .editormd-preview .markdown-body .blockquote p, #markdown-editormd .editormd-preview .markdown-body .blockquote ul li, #markdown-editormd .editormd-preview .markdown-body .blockquote ol li, #markdown-editormd .editormd-preview .markdown-body table p, #markdown-editormd .editormd-preview .markdown-body table ul li, #markdown-editormd .editormd-preview .markdown-body table ol li {
  font-family: TextBook;
  text-align: left;
  font-size: 14pt;
  font-weight: normal;
  line-height: 16pt;
  margin-top: 0;
}
#markdown-editormd .editormd-preview .markdown-body blockquote p strong, #markdown-editormd .editormd-preview .markdown-body blockquote ul li strong, #markdown-editormd .editormd-preview .markdown-body blockquote ol li strong, #markdown-editormd .editormd-preview .markdown-body .blockquote p strong, #markdown-editormd .editormd-preview .markdown-body .blockquote ul li strong, #markdown-editormd .editormd-preview .markdown-body .blockquote ol li strong, #markdown-editormd .editormd-preview .markdown-body table p strong, #markdown-editormd .editormd-preview .markdown-body table ul li strong, #markdown-editormd .editormd-preview .markdown-body table ol li strong {
  color: #a1211e;
  font-size: 16pt;
  font-weight: bold;
  line-height: 16pt;
}
#markdown-editormd .editormd-preview .markdown-body blockquote p, #markdown-editormd .editormd-preview .markdown-body .blockquote p, #markdown-editormd .editormd-preview .markdown-body table p {
  margin-top: 20px;
}
#markdown-editormd .editormd-preview .markdown-body blockquote ul li:after, #markdown-editormd .editormd-preview .markdown-body .blockquote ul li:after, #markdown-editormd .editormd-preview .markdown-body table ul li:after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 15px;
  margin-top: -2px;
  background-color: #4a4a4a;
  width: 4px;
  height: 4px;
  z-index: 1;
  border-radius: 50%;
}
#markdown-editormd .editormd-preview .markdown-body blockquote ul li:before, #markdown-editormd .editormd-preview .markdown-body .blockquote ul li:before, #markdown-editormd .editormd-preview .markdown-body table ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: unset;
  width: 25px;
  z-index: 0;
  height: 20px;
}
#markdown-editormd .editormd-preview .markdown-body .footnote p {
  line-height: 10pt;
  font-size: 10pt;
  font-family: TextBook;
}
#markdown-editormd .editormd-preview .markdown-body code {
  font-family: Magic;
}
#markdown-editormd .editormd-preview .markdown-body code.author {
  font-size: 13pt;
}
#markdown-editormd .editormd-preview .markdown-body code.lead {
  font-size: 15pt;
}
#markdown-editormd .editormd-preview .markdown-body.sp-justify p, #markdown-editormd .editormd-preview .markdown-body.sp-justify td, #markdown-editormd .editormd-preview .markdown-body.sp-justify li {
  text-align: justify;
}
#markdown-editormd .editormd-preview .markdown-body.sp-justify div.subtitle p {
  text-align: center;
}

/*# sourceMappingURL=spa.css.map */
