img {
  width: 100%;
  max-width: 400px;

  &.original-size {
    width: auto;
  }
}


h1 {
  font-family: Academy;
  font-size: 42pt;
  font-weight: normal;
  padding: 0 10pt;
  line-height: 36pt;
  text-align: center;
  border: none;
}

h2, .subtitle > p {
  font-family: Magic;
  font-size: 26pt;
  text-align: center;
  font-weight: normal;
  border: none;
}

p, ol li, ul li {
  font-family: Academy;
  font-size: 15pt;
  //text-align: justify;

  strong {
    font-family: Magic;
    color: #a1211e;
    font-size: 16pt;
    font-weight: bold;
    line-height: 16pt;
  }

  sup {
    a.footnote-ref {
      color: #7a7a7a;
      font-size: 70%;
    }
  }
}

.author, .author-2, .author-3 {
  p {
    font-family: Magic;
    font-size: 14pt;
    font-weight: normal;
    //text-align: justify;

    strong {
      color: #a1211e;
    }
  }
}

.author p {
  img {
    width: 100%;
    max-width: 200px;
  }
}

.author-2 p img {
  width: 49%;
  max-width: 181px;
}

.author-3 p img {
  width: 33%;
  max-width: 181px;
}

.lead {
  p {
    font-family: Magic;
    font-size: 16pt;
    font-weight: bold;

    strong {
      color: #a1211e;
    }
  }

  margin-bottom: 50px;
}

.bawl {
  p {
    font-family: Magic;
    font-size: 16pt;
    font-weight: bold;
    color: #5d8fc1;

    strong {
      color: #a1211e;
    }
  }

  p:before {
    content: '[ ';
    font-size: 16pt;
    color: #a1211e;
    font-weight: bold;
  }

  p:after {
    content: ' ]';
    font-size: 16pt;
    color: #a1211e;
    font-weight: bold;
  }
}

table {
  tbody, thead {
    tr {
      td, th {
        padding: 4px 6px;
      }
    }
  }
}

table {
  tbody, thead {
    tr {
      td, th {
        font-family: TextBook;
        text-align: left;
        font-size: 14pt;
        font-weight: normal;
        line-height: 16pt;
        margin-top: 0;
      }
    }
  }

  thead {
    tr {
      td, th {
        text-align: center;
        background: #82a0be;
        color: #fff;
        font-weight: bold;
      }
    }
  }

  tbody {
    tr:nth-child(odd) {
      td, th {
        background: #d6e7f6;
        color: #4a4a4a;
      }
    }

    tr:nth-child(even) {
      td, th {
        background: #cbe0f3;
        color: #4a4a4a;
      }
    }
  }
}

blockquote, .blockquote, table {
  text-align: left;
  background: #cbe0f3;
  padding: 6px;

  h1 {
    font-family: Academy;
    font-size: 32pt;
    font-weight: normal;
    padding: 0 10pt;
    line-height: 28pt;
    text-align: center;
    border: none;
    letter-spacing: -.5pt;
  }

  h2 {
    font-family: Magic;
    font-size: 28pt;
    text-align: left;
    letter-spacing: -.5pt;
    font-weight: bold;
  }

  p, ul li, ol li {
    font-family: TextBook;
    text-align: left;
    font-size: 14pt;
    font-weight: normal;
    line-height: 16pt;
    margin-top: 0;

    strong {
      color: #a1211e;
      font-size: 16pt;
      font-weight: bold;
      line-height: 16pt;
    }
  }

  p {
    margin-top: 20px;
  }

  ul li {
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      left: 15px;
      margin-top: -2px;
      background-color: #4a4a4a;
      width: 4px;
      height: 4px;
      z-index: 1;
      border-radius: 50%;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: unset;
      width: 25px;
      z-index: 0;
      height: 20px;
    }
  }
}

.footnote {
  p {
    line-height: 10pt;
    font-size: 10pt;
    font-family: TextBook;
  }
}

code {
  font-family: Magic;

  &.author {
    font-size: 13pt;
  }

  &.lead {
    font-size: 15pt;
  }
}

&.sp-justify {
  p, td, li {
    text-align: justify;
  }

  div.subtitle {
    p {
      text-align: center;
    }
  }
}
