/* Error: It's not clear which file to import. Found:
 *   _sp_article.scss
 *   sp_article.scss
 *    ,
 * 64 |       @import "sp_article";
 *    |               ^^^^^^^^^^^^
 *    '
 *   sp_article.scss 64:15  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: It's not clear which file to import. Found:\a   _sp_article.scss\a   sp_article.scss\a    \2577 \a 64 \2502        @import \"sp_article\";\d\a    \2502                ^^^^^^^^^^^^\a    \2575 \a   sp_article.scss 64:15  root stylesheet";
}
