{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Редактирование текста</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% static 'index.html' %}"><i class="fa fa-home"></i> </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'doc:list' %}">Статьи</a>
                </li>
                <li class="breadcrumb-item active">
                    Добавить
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title pb-4">
                        <h5>
                            Добавление документа
                        </h5>
                        <div class="ibox-tools">
                            <a href="{% url 'doc:create' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Добавить</a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" enctype="multipart/form-data">{% csrf_token %}
                            {% for f in form %}
                                <div class="form-group row"><label class="col-lg-2 col-form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                                    <div class="col-lg-10">
                                        {{ f }}
                                        {% if f.errors %}<label class="error" for="{{ f.id_for_label }}">{{ f.errors }}</label>{{% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="hr-line-dashed"></div>
                            <div class="form-group row">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <a class="btn btn-white btn-sm" href="{% url 'doc:list' %}">Отменить</a>
                                    <button class="btn btn-primary btn-sm" type="submit">Сохранить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
