{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Редактирование текста</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% static 'index.html' %}"><i class="fa fa-home"></i> </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'doc:list' %}">Статьи</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong id="name"></strong>
                    (<span id="status"></span>)
                </li>
            </ol>
        </div>
    </div>

    <div id="markdown-editormd">
        <textarea name="markdown_content" id="markdown-editor"></textarea>
    </div>
{% endblock %}


{% block header %}
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary btn-outline" href="#"><i class="fa fa-bars"></i> </a>
            </div>
            <ul class="nav navbar-top-links">
                <li>
                    <button type="button" class="btn btn-info btn-sm" id="mobile-button"><i class="fa fa-mobile"></i></button>
                    <button type="button" class="btn btn-info btn-sm btn-outline" id="justify-button"><i class="fa fa-align-justify"></i></button>
                    <button type="button" class="ladda-button btn btn-primary btn-sm" id="save-button">Сохранить</button>
                    <button type="button" class="ladda-button btn btn-default btn-sm" id="reload-button">Загрузить снова</button>
                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal5">Литература</button>
                    <button type="button" class="ladda-button btn btn-default btn-sm" id="to_prepare-button">Завершить редактирование</button>
                    <button type="button" class="btn btn-default btn-sm" id="prepared-button" disabled>Подготовлено</button>
                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a class="m-r-sm text-muted welcome-message" href="{% url 'home' %}">Система подготовки статей</a>
                </li>
                <li>
                    <a href="{% static 'login.html' %}">
                        <i class="fa fa-sign-out"></i> Выйти
                    </a>
                </li>
            </ul>

        </nav>
    </div>
    <div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Список литературы</h4>
                    <small class="font-bold">Скопируйте в это окно список литературы из статьи PDF</small>
                </div>
                <div class="modal-body">
                    <form>
                        <textarea id="bibliography-textarea" name="bibliography_textarea" style="width:100%;height:500px;"></textarea>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" id="bibliography-button">Обработать и добавить</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {#    <div class="footer">#}
    {#        <div class="float-right">#}
    {#            <strong>prepare.spnavigator</strong> by StatusPraesens © 2019#}
    {#        </div>#}
    {#        <div>#}
    {#            <button class="btn btn-sm btn-primary" onclick="save()">Сохранить</button>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}

{% block css %}
    {{ block.super }}

    {#    <base href="{{ markdown_media }}/"/>#}
    <link href="{% static 'js/editormd//lib/codemirror/codemirror.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'js/editormd//lib/codemirror/addon/dialog/dialog.css' %}" rel="stylesheet"/>
    <link href="{% static 'js/editormd//lib/codemirror/addon/search/matchesonscrollbar.css' %}" rel="stylesheet"/>
    <link href="{% static 'js/editormd/css/editormd.css' %}" rel="stylesheet"/>
    <!-- Ladda -->
    <link href="{% static 'css/plugins/ladda/ladda-themeless.min.css' %}" rel="stylesheet">

    <!-- SP article design -->
    <link href="{% static 'css/sp.css' %}?{% now 'c' %}" rel="stylesheet">
{% endblock %}

{% block style %}
    <style type="text/css">
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <!-- pandaomd -->
    <script src="{% static 'js/plugins/lodash.js' %}"></script>
    <script src="{% static 'js/editormd/lib/codemirror/codemirror.min.js' %}"></script>
    {#    <!-- Or, You can also one by one load CodeMirror modes & addons. -->#}
    <script src="{% static 'js/editormd/lib/codemirror/addons.min.js' %}"></script>
    <script src="{% static 'js/editormd/lib/codemirror/modes.min.js' %}"></script>

    <script src="{% static 'js/editormd/lib/marked.min.js' %}"></script>
    <script src="{% static 'js/editormd/editormd.js' %}?{% now 'c' %}"></script>

    <!-- Ladda -->
    <script src="{% static 'js/plugins/ladda/spin.min.js' %}"></script>
    <script src="{% static 'js/plugins/ladda/ladda.min.js' %}"></script>
    <script src="{% static 'js/plugins/ladda/ladda.jquery.min.js' %}"></script>

    <script>
        const STATUS_NOTHING = 0;
        const STATUS_UPLOADED = 1;
        const STATUS_WORK = 2;
        const STATUS_PREPARED = 3;
        const STATUS_ERRORS = 4;
        const STATUS_COMPLETE = 5;

        let markdown_editor;
        let last_markdown_content;
        let saveButton, reloadButton, biblographyButton, mobileButton, justifyButton, toPrepareButton, preparedButton;
        let data;

        $.fn.hyphenate = function () {
            const all = "[абвгдеёжзийклмнопрстуфхцчшщъыьэюя]",
                glas = "[аеёиоуыэюя]",
                sogl = "[бвгджзклмнпрстфхцчшщ]",
                zn = "[йъь]",
                shy = "\xAD";
            let re = [];

            re[1] = new RegExp("(" + zn + ")(" + all + all + ")", "ig");
            re[2] = new RegExp("(" + glas + ")(" + glas + all + ")", "ig");
            re[3] = new RegExp("(" + glas + sogl + ")(" + sogl + glas + ")", "ig");
            re[4] = new RegExp("(" + sogl + glas + ")(" + sogl + glas + ")", "ig");
            re[5] = new RegExp("(" + glas + sogl + ")(" + sogl + sogl + glas + ")", "ig");
            re[6] = new RegExp("(" + glas + sogl + sogl + ")(" + sogl + sogl + glas + ")", "ig");
            return this.each(function () {
                let text = $(this).html();
                for (let i = 1; i < 7; ++i) {
                    text = text.replace(re[i], "$1" + shy + "$2");
                }
                $(this).html(text);
            });
        };

        function updateButtons() {
            if (data.markdown_content == markdown_editor.getMarkdown()) {
                saveButton.hide();
                reloadButton.hide();
                switch (data.status) {
                    case STATUS_WORK:
                        toPrepareButton.show();
                        preparedButton.hide();
                        break;
                    case STATUS_PREPARED:
                        toPrepareButton.hide();
                        preparedButton.show();
                }
            } else {
                saveButton.show();
                reloadButton.show();
                toPrepareButton.hide();
                preparedButton.hide();
            }
        }

        function loadMarkdown() {
            reloadButton.ladda('start');
            $.ajax({
                url: '{{ markdown_load_action }}',
                method: 'GET',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                dataType: 'json'
            }).done(function (d) {
                data = d;
                loaded_markdown_content = d.markdown_content;
                markdown_prefix = d.markdown_prefix;
                markdown_editor.setMarkdown(data.markdown_content);
                reloadButton
                    .ladda('stop')
                    .removeClass('btn-error')
                    .addClass('btn-default');
                $('#name').text(d.name);
                $('#status').text(d.status);
                status = d.status;
                updateButtons();
            }).fail(function (d) {
                reloadButton
                    .ladda('stop')
                    .removeClass('btn-default')
                    .addClass('btn-danger');
                alert('Ошибка загрузки markdown');
            });
        }

        function saveMarkdown() {
            saveButton.ladda('start');
            $.ajax({
                url: '{{ markdown_save_action }}',
                method: 'PUT',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: {
                    markdown_content: markdown_editor.getMarkdown()
                },
                dataType: 'json'
            }).done(function (d) {
                data = d;
                saveButton
                    .ladda('stop')
                    .removeClass('btn-error')
                    .addClass('btn-primary');
                updateButtons();
            }).fail(function () {
                saveButton
                    .ladda('stop')
                    .removeClass('btn-primary')
                    .addClass('btn-danger');
            });
        }

        function updateStatus(status) {
            toPrepareButton.ladda('start');
            $.ajax({
                url: '{{ markdown_save_action }}',
                method: 'PUT',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: {
                    status: STATUS_PREPARED
                },
                dataType: 'json'
            }).done(function (d) {
                data = d;
                toPrepareButton
                    .ladda('stop')
                    .removeClass('btn-error')
                    .addClass('btn-primary');
                updateButtons();
            }).fail(function () {
                toPrepareButton
                    .ladda('stop')
                    .removeClass('btn-primary')
                    .addClass('btn-danger');
            });
        }

        function bibliographyAppend() {
            let lastLine = 0;
            $('.CodeMirror-linenumber').each(function (i, _) {
                const line = parseInt(_.textContent);
                if (line > lastLine)
                    lastLine = line;
            });
            let b = $('#bibliography-textarea').val();
            b = ('# ' + b.trim())
                .replace('[', '\[')
                .replace(']', '\]')
                .replace(/\n(\d{1,3})\.\s+(\w+)/gm, '\n\n[^$1]: $2');
            markdown_editor.setMarkdown(markdown_editor.getMarkdown() + '\n\n' + b);
            markdown_editor.gotoLine(lastLine);
        }

        function changeMobile() {
            markdown_editor.resize();
        }

        $(function () {
            saveButton = $('#save-button').ladda();
            reloadButton = $('#reload-button').ladda();
            mobileButton = $('#mobile-button');
            justifyButton = $('#justify-button');
            toPrepareButton = $('#to_prepare-button').ladda();
            preparedButton = $('#prepared-button');

            $('#bibliography-button').click(function () {
                bibliographyAppend();
                $('#myModal5').modal('hide');
            });

            mobileButton.click(function () {
                if (mobileButton.hasClass('btn-outline')) {
                    mobileButton.removeClass('btn-outline');
                    mobileButton.html('<i class="fa fa-mobile"></i>')
                } else {
                    mobileButton.addClass('btn-outline');
                    mobileButton.html('<i class="fa fa-desktop"></i>')
                }

                updateButtons();
                markdown_editor.focus();
                markdown_editor.resize();
            });

            justifyButton.click(function () {
                const markdownBody = $('.markdown-body');
                if (markdownBody.hasClass('sp-justify')) {
                    justifyButton.addClass('btn-outline');
                    markdownBody.removeClass('sp-justify');
                    markdown_editor.save(true);
                } else {
                    justifyButton.removeClass('btn-outline');
                    markdownBody.addClass('sp-justify');
                    markdown_editor.save(true);
                    markdown_editor
                        .preview
                        .find('.markdown-body > p:not([class]), .author > p, .author-2 > p, .author-3 > p, .lead > p, td, li')
                        .hyphenate();
                }

                markdown_editor.focus();
                updateButtons();
            });

            saveButton.click(function () {
                saveMarkdown();
            });

            reloadButton.click(function () {
                loadMarkdown();
            });

            toPrepareButton.click(function () {
                updateStatus(STATUS_PREPARED)
            });

            markdown_editor = editormd('markdown-editormd', {
                width: '100%',
                {#autoHeight: true,#}
                height: 'calc(100% - 201px)',
                toolbar: false,
                autoLoadModules: false,
                path: '{% static 'js/editormd/lib/' %}',
                onchange: function () {
                    updateButtons();
                    $('.markdown-body').find('img[src="sp"]').attr('src', '/static/img/sp/sp.png').addClass('original-size');
                    $('.markdown-body').find('img[src="sp-red"]').attr('src', '/static/img/sp/sp-red.png').addClass('original-size');
                    $('.markdown-body').find('img[src="stars"]').attr('src', '/static/img/sp/stars.png').addClass('original-size').parent().addClass('text-center');
                    $('.markdown-body').find('img[src]').each(function (x, y) {
                        if (!/^\//.test($(y).attr('src'))) {
                            $(y).attr('src', markdown_prefix + $(y).attr('src'));
                        }
                    });
                    {#$('.markdown-body').find('p:not(.class), p[author], p[author-2], p[author-3], li, td').hyphenate();#}
                },
                calculateSize: function (editor) {
                    if ($('#mobile-button').hasClass('btn-outline'))
                        return {
                            codeMirror: editor.width() / 2,
                            preview: editor.width() / 2
                        };
                    else
                        return {
                            codeMirror: editor.width() - 372,
                            preview: 372
                        };
                }
            });

            loadMarkdown();
        });
    </script>
{% endblock %}
