{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Список документов</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="fa fa-home"></i> </a>
                </li>
                <li class="breadcrumb-item">
                    <strong>Список документов</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title pb-4">
                        <h5>
                            Список документов
                        </h5>
                        <div class="ibox-tools">
                            <form action="{% url 'doc:filter' %}" method="get">
                                {{ filter.form }}
                                <input class="btn btn-primary" type="submit" value="Фильтровать"/>
                            </form>
                            <a href="{% url 'doc:create' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Добавить</a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped">
                            <thead>
                            <tr>
{#                              <th>#</th>#}
                                <th>Название</th>
                                <th>Проект</th>
                                <th>Статус</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for doc in object_list %}
                                <tr>
{#                                  <td>{{ doc.id }}</td>#}
                                    <td>{{ doc.name }}</td>
                                    <td>{{ doc.project }}</td>
                                    <td>{{ doc.get_status_display }}</td>
                                    <td style="white-space: nowrap">
                                        <a href="{% url 'doc:update' doc.pk %}" class="btn btn-sm btn-secondary">Изменить</a>
                                        <a href="{% url 'doc:editor' doc.pk %}" class="btn btn-sm btn-primary">Редактор</a>
                                        {% if doc.status == doc.STATUS_PREPARED %}
                                            <a href="{% url 'doc:download' doc.pk %}" class="btn btn-sm btn-success">Скачать</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
