{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Список документов</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html"><i class="fa fa-home"></i> </a>
                </li>
                <li class="breadcrumb-item">
                    <strong>Список документов</strong>
                </li>
            </ol>
        </div>
    </div>
    {% if messages %}
        <div class="col-lg-12 mt-3">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    Внимание!
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                        {% for message in messages %}
                            <tr>
                                <td>
                                    <div class="{% if message.tags %}bg-{{ message.tags }}{% endif %} p-xs b-r-sm">{{ message }}</div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    {% endif %}
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title pb-4">
                <h5>
                    Список документов
                </h5>

            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="col-form-label" for="doc__name">Название</label>
                            <input type="text" id="doc__name" name="doc__name" value="" placeholder="Название документа" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" for="doc__category__code">Тип</label>
                            <select name="doc__category__code" id="doc__category__code" class="form-control">
                                <option value="0">--- все ---</option>
                                {% for code, name in doc__category__code__list %}
                                    <option value="{{ code }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <table class="table table-striped" id="doc-list">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Активно</th>
                        <th>Название</th>
                        <th>Категория</th>
                        <th>Создано</th>
                        <th>Изменено</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for doc in object_list %}
                        <tr id="document-{{ doc.id }}">
                            <td>{% if doc.is_active %}<i class="fa fa-check-circle"></i>{% endif %} </td>
                            <td data-fieldname="short_name">{{ doc.short_name }}</td>
                            <td data-fieldname="category__code" data-category-id="{{ doc.category.id }}">{{ doc.category.code }}</td>
                            <td>{{ doc.modified|date:"SHORT_DATE_FORMAT" }}</td>
                            <td>{{ doc.created|date:"SHORT_DATE_FORMAT" }}</td>
                            <td><a href="{% url 'doc:navigator_editor' doc.uid %}" class="btn btn-xs btn-primary">Редактировать</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/lodash.js' %}"></script>
    <script>
        function filterTagList() {
            if ($('#doc__name').val()) {
                $('#doc-list').find('td[data-fieldname="short_name"]').parent().hide();
                $('#doc-list').find('td[data-fieldname="short_name"]:contains("' + $('#doc__name').val() + '")').parent().show();
            } else {
                $('#doc-list').find('td[data-fieldname="short_name"]').parent().show();
            }

            if ($('#doc__category__code').val() > 0) {
                $('#doc-list').find('td[data-fieldname="category__code"][data-category-id!="' + $('#doc__category__code').val() + '"]').parent().hide()
            }
        }

        $(function () {
            $('#doc__name').on('keyup', _.debounce(filterTagList, 500));
            $('#doc__category__code').on('change', _.debounce(filterTagList, 500))
        });
    </script>

{% endblock %}